### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
.history
.ionide

### WordPress ###
src/wordpress/wp-admin
src/wordpress/index.php
src/wordpress/.htaccess
src/wordpress/.env
src/wordpress/wp-content/backups-dup-lite
src/wordpress/wp-content/languages
src/wordpress/wp-content/plugins
src/wordpress/wp-content/themes/twenty*
src/wordpress/wp-content/upgrade
src/wordpress/wp-content/uploads
src/wordpress/wp-content/index.php
src/wordpress/wp-content/themes/main-theme/resources/
src/wordpress/wp-content/themes/index.php
src/wordpress/wp-includes
wp-config.php
license.txt
readme.html
wp-*.php
xmlrpc.php
*.log
