@font-face {
  font-family: Oswald-Light;
  src: url(resources/font/Oswald/Oswald-Light.ttf);
}

@font-face {
  font-family: Finlandica-SemiBold;
  src: url(resources/font/Finlandica/Finlandica-SemiBold.ttf);
}

body {
  background-color: #F5F5F5;
}

.navbar {
  background-color: #17282F;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 7px 0px;
  font-family: Finlandica-SemiBold;
}

.company-name {
  color: #F8F9FA;
  font-weight: 600;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Oswald-Light;
}

.navbar-menu li{
  display: inline-block;
  margin-left: 28px;
}

.navbar-menu li a {
  color: #F8F9FA;
  font-weight: 200;
}

.button-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.button-menu .line {
  display: inline-block;
  background-color: #D9D9D9;
}

.course-sections {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-sections .preview-of-course-structure {
  background-color: #D9D9D9;
  border-radius: 30px;
  width: 100%;
}

.course-sections .description-of-program-structure {
  background-color: #FFFFFF;
  width: 100%;
}

.course-sections .target-audience {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
}

.target-audience .target-audience__content {
  flex-wrap: wrap;
}

.course-sections .teachers-mentors {
  background-color: #FFFFFF;
}

@media (min-width: 1400px) {
  .navbar {
    height: 86px;
    padding: 3px 72px;
  }
  .company-name {
    font-size: 40px;
  }
  .navbar-menu li a {
    font-size: 25px;
  }
  .logo {
    margin-right: 24px;
    height: 66px;
    width: 88px;
  }
  .button-menu {
    display: none;
  }
  .course-sections {
    padding: 0px 72px;
    height: calc(100vh - 106px);
    margin-top: 106px;
    gap: 50px;
  }
  .course-sections .preview-of-course-structure{
    height: 638px;
    padding: 24px 0px 50px 43px; /* top right bottom left */
  }
  .course-sections .description-of-program-structure {
    padding: 16px 43px;
    height: 195px;
    border-radius: 30px;
  }
  .course-sections .target-audience {
    padding: 24px 43px 50px 43px;
    height: 575px;
    border-radius: 30px;
    grid-column-gap: 43px
  }
  /* .target-audience .target-audience__content {
    padding: 0px, 43px, 0px, 43px;
    grid-column-gap: 41px;
    height: 381px;
    justify-content: space-around;
  } */
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .navbar {
    height: 74px;
    padding: 3px 82px;
  }
  .company-name {
    font-size: 40px;
  }
  .navbar-menu li a {
    font-size: 25px;
  }
  .logo {
    margin-right: 24px;
    height: 66px;
    width: 88px;
  }
  .button-menu {
    display: none;
  }
  .course-sections {
    padding: 0px 82px;
    height: calc(100vh - 94px);
    margin-top: 94px;
    gap: 50px;
  }
  .course-sections .preview-of-course-structure{
    height: 614px;
    padding: 21px 0px 41px 37px;
  }
  .course-sections .description-of-program-structure {
    padding: 16px 37px;
    height: 294px;
    border-radius: 30px;
  }
  .course-sections .target-audience {
    padding: 21px 37px 41px 37px;
    height: 574px;
    border-radius: 30px;
    grid-column-gap: 43px
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    height: 61px;
    padding: 3px 44px;
  }
  .company-name {
    font-size: 33px;
  }
  .navbar-menu li a {
    font-size: 21px;
  }
  .logo {
    margin-right: 24px;
    height: 54px;
    width: 71px;
  }
  .button-menu {
    display: none;
  }
  .course-sections {
    padding: 0px 44px;
    height: calc(100vh - 81px);
    margin-top: 81px;
    gap: 37px;
  }
  .course-sections .preview-of-course-structure{
    height: 530px;
    padding: 21px 0px 41px 31px; /* top right bottom left */
  }
  .course-sections .description-of-program-structure {
    padding: 16px 31px;
    height: 278px;
    border-radius: 30px;
  }
  .course-sections .target-audience {
    padding: 21px 31px 41px 31px;
    height: 609px;
    border-radius: 30px;
    grid-column-gap: 43px
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    height: 86px;
    padding: 0px 92px;
  }
  .company-name {
    font-size: 36px;
  }
  .logo {
    margin-right: 24px;
    height: 66px;
    width: 88px;
  }
  .navbar-menu {
    display: none;
  }
  .button-menu {
    width: 96px;
    height: 43px;
  }
  .button-menu .line {
    width: 96px;
    height: 7px;
    border-style: 30px;
  }
  .course-sections {
    padding: 0px 92px;
    height: calc(100vh - 106px);
    margin-top: 106px;
    gap: 20px;
  }
  .course-sections .preview-of-course-structure{
    height: 677px;
    padding: 24px 0px 24px 31px; /* top right bottom left */
  }
  .course-sections .description-of-program-structure {
    padding: 15px 31px;
    height: 252px;
    border-radius: 30px;
  }
  .course-sections .target-audience {
    padding: 16px 31px 20px 31px;
    height: 844px;
    border-radius: 20px;
    grid-column-gap: 20px
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar {
    height: 64px;
    padding: 3px 44px;
  }
  .company-name {
    font-size: 20px;
  }
  .logo {
    margin-right: 10px;
    height: 40px;
    width: 52px;
  }
  .navbar-menu {
    display: none;
  }
  .button-menu {
    width: 74px;
    height: 24px;
  }
  .button-menu .line {
    width: 74px;
    height: 4px;
    border-style: 5px;
  }
  .course-sections {
    padding: 0px 44px;
    height: calc(100vh - 84px);
    margin-top: 84px;
    gap: 20px;
  }
  .course-sections .preview-of-course-structure{
    height: 608px;
    padding: 16px 0px 20px 20px; /* top right bottom left */
  }
  .course-sections .description-of-program-structure {
    padding: 20px 20px;
    height: 408px;
    border-radius: 20px;
  }
  .course-sections .target-audience {
    padding: 16px 20px 20px 20px;
    height: 825px;
    border-radius: 20px;
    grid-column-gap: 20px
  }
}

@media (max-width: 575px) {
  .navbar {
    height: 64px;
    padding: 3px 11px;
  }
  .company-name {
    font-size: 20px;
  }
  .logo {
    margin-right: 10px;
    height: 40px;
    width: 52px;
  }
  .navbar-menu {
    display: none;
  }
  .button-menu {
    width: 74px;
    height: 24px;
  }
  .button-menu .line {
    width: 74px;
    height: 4px;
    border-style: 5px;
  }
  .course-sections {
    padding: 0px 11px;
    height: calc(100vh - 84px);
    margin-top: 84px;
    gap: 20px;
  }
  .course-sections .preview-of-course-structure{
    height: 483px;
    padding: 16px 0px 20px 20px; /* top right bottom left */
  }
  .course-sections .description-of-program-structure {
    padding: 20px 20px;
    height: 380px;
    border-radius: 20px;
  }
  .course-sections .target-audience {
    padding: 16px 20px 20px 20px;
    height: 1016px;
    border-radius: 20px;
    grid-column-gap: 20px
  }
}